<a href="https://colab.research.google.com/github/josemacoel/Extraccion-de-Datos/blob/main/1_2_Extracci%C3%B3n_Datos_A01734153.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
#Carga desde un archivo .xlsx sin indice
df= pd.read_excel('Datos de Facturación.xlsx')
#df

In [59]:
df

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0
10891,F40307,6218,E,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0
10892,F40308,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10895 non-null  object
 1   CVE_CLPV       10895 non-null  object
 2   STATUS         10895 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10895 non-null  datetime64[ns]
 5   FECHA_DOC      10895 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10895 non-null  float64
 10  DES_TOT        10895 non-null  float64
 11  DES_FIN        10895 non-null  int64
dtypes: datetime64[ns](4), float64(3), int64(1), object(4)
memory usage: 1021.5+ KB

### **Filtro CVE_CLPV (Valores de 1000 a 2000)**

In [61]:
df['CVE_CLPV'] = df['CVE_CLPV'].replace('[^0-9]+', '0', regex=True)
df['CVE_CLPV'] = df['CVE_CLPV'].astype(int)
filtro1=df.loc[(df["CVE_CLPV"] >= 1000) & (df['CVE_CLPV'] <= 2000)]
filtro1

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,F29432,1965,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0
22,F29436,1965,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0
65,F29479,1240,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaT,4135.00,0.00,0
71,F29485,1965,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0
72,F29486,1965,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaT,976.50,146.48,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10821,F40237,1757,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaT,10088.40,0.00,0
10839,F40255,1583,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaT,3467.35,0.00,0
10845,F40261,1786,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaT,4663.80,0.00,0
10871,F40287,1453,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaT,9000.00,0.00,0
10876,F40292,1082,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaT,3262.00,0.00,0

### **Filtro CVE_VEND (Todas las claves excepto “5” y “4”)**

In [62]:
filtro2 = df.loc[(df['CVE_VEND'] != 4) & (df['CVE_VEND'] != 5)]
filtro2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0
10891,F40307,6218,E,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0
10892,F40308,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0

### **Filtro FECHA_ENT (Fechas de “28/02/2022”)**

In [63]:
#df['FECHA_ENT'] = pd.to_datetime(df['FECHA_ENT'], format='%Y/%m/%d ')
#filtro3 = df.loc[df['FECHA_ENT'] == '28/02/2022']
#filtro3

### **Filtro CAN_TOT (Cantidades menores a 5951.7) o  STATUS (“E”)**

In [64]:
#Filtro o
filtro4=df[(df["CAN_TOT"] < 5951.7) | (df["STATUS"] == "E")]
filtro4

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0
10891,F40307,6218,E,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0
10892,F40308,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0

### **Filtro Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT**

In [65]:
filtro5 = df.loc[:, ['CVE_DOC', 'FECHA_ENT', 'FECHA_VEN', 'CAN_TOT']]
filtro5

      CVE_DOC            FECHA_ENT  FECHA_VEN  CAN_TOT
0      F29414  2019-09-03 00:00:00 2019-09-18  3980.00
1      F29415  2019-09-03 00:00:00 2019-10-03  1550.00
2      F29416  2019-09-03 00:00:00 2019-10-03  1550.00
3      F29417  2019-09-03 00:00:00 2019-10-03  1550.00
4      F29418  2019-09-03 00:00:00 2019-09-03  2435.44
...       ...                  ...        ...      ...
10890  F40306  2023-03-01 00:00:00 2023-03-06  3272.00
10891  F40307  2023-03-06 00:00:00 2023-03-06   504.15
10892  F40308  2023-03-06 00:00:00 2023-03-06   275.68
10893  F40309  2023-03-07 00:00:00 2023-03-07   129.30
10894  F40310  2023-03-01 00:00:00 2023-03-07   517.20

[10895 rows x 4 columns]

### **Filtro Solo las filas de 7001-7099**

In [66]:
filtro6= df.iloc[7001:7080,: ]
filtro6

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,F36417,5271,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06 00:00:00,2021-11-14,NaT,8555.24,0.0,0
7002,F36418,5746,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14 00:00:00,2021-10-15,NaT,620.77,0.0,0
7003,F36419,2163,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15 00:00:00,2021-10-15,NaT,560.00,0.0,0
7004,F36420,1429,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15 00:00:00,2021-12-14,NaT,23625.00,0.0,0
7005,F36421,5039,E,1.0,2021-10-15 09:07:07.103,2021-10-15,2021-10-08 00:00:00,2022-01-13,NaT,3308.78,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
7075,F36491,5746,E,2.0,2021-10-25 11:59:28.733,2021-10-25,2021-10-25 00:00:00,2021-10-25,NaT,519.50,0.0,0
7076,F36492,6253,E,1.0,2021-10-25 15:07:42.990,2021-10-25,2021-10-25 00:00:00,2021-12-24,NaT,9500.00,0.0,0
7077,F36493,8473,E,2.0,2021-10-25 16:10:17.437,2021-10-25,2021-10-13 00:00:00,2021-10-25,NaT,1366.75,0.0,0
7078,F36494,8325,E,2.0,2021-10-25 16:25:44.893,2021-10-25,2021-10-25 00:00:00,2021-10-25,NaT,300.00,0.0,0
7079,F36495,5926,E,2.0,2021-10-25 17:10:02.337,2021-10-25,2021-10-25 00:00:00,2021-10-25,NaT,1450.67,0.0,0

### **Filtro Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)**

In [67]:
df2 = df.set_index('CVE_VEND')
filtro7=df2.loc[[1,2], ["FECHAELAB"]]
filtro7

                       FECHAELAB
CVE_VEND
1.0      2019-09-03 08:58:42.000
1.0      2019-09-03 09:55:14.000
1.0      2019-09-03 13:25:33.000
1.0      2019-09-03 13:33:23.000
1.0      2019-09-04 09:15:12.000
...                          ...
2.0      2023-03-06 16:09:39.013
2.0      2023-03-06 16:38:42.933
2.0      2023-03-06 17:02:33.390
2.0      2023-03-07 12:43:49.567
2.0      2023-03-07 12:45:58.407

[8665 rows x 1 columns]

In [68]:
#Convertir archivos filtrados a CSV
filtro1.to_csv("filtroA.csv")
filtro2.to_csv("filtroB.csv")
filtro3.to_csv("filtroC.csv")
filtro4.to_csv("filtroD.csv")
filtro5.to_csv("filtroE.csv")
filtro6.to_csv("filtroF.csv")
filtro7.to_csv("filtroG.csv")